<div class="container">
	<nav class="navigation">

		<div class="logo">
			<h1>Subscription <span>Managment</span></h1>
		</div>
		<div
		class="navbar"
		*ngIf=" isUserLogged
			then userLogged
			else userNotLogged
		"
		></div>

	</nav>

	<div class="content">
		<router-outlet></router-outlet>
	</div>

	<footer class="footer">

	</footer>
</div>


<ng-template #userLogged>
	<ul>
		<li><a>Strona główna</a></li>
		<li><a>Zarządzaj</a></li>
		<li><a>Integracje</a></li>
		<li><a>Konto</a></li>
	</ul>
</ng-template>
<ng-template #userNotLogged>
	<ul>
		<li><a>Strona główna</a></li>
		<li><a>Logowanie</a></li>
	</ul>
</ng-template>
