<ng-container *ngIf="currentView.login; else checkRegister">
  <ng-container *ngTemplateOutlet="LoginTemplate"></ng-container>
</ng-container>

<ng-template #checkRegister>
  <ng-container *ngIf="currentView.register">
    <ng-container *ngTemplateOutlet="RegisterTemplate"></ng-container>
  </ng-container>
</ng-template>

<ng-template #LoginTemplate>

	<div class="form-wrapper">
		<h3>Logowanie</h3>
		<form class="form">
			<div class="form-item">
				<label for="login">Email:</label>
				<input
				type="email"
				name="email"
				id="login"
				>
			</div>
			<div class="form-item">
				<label for="login">Hasło:</label>
				<input
				[type]="passwordType"
				name="email"
				id="login"
				>
				<img
				src=''
				alt='Zmień'
				(click)="handlerPasswordType()">
			</div>
		</form>
		<button (click)="switchView()">Nie masz konta? Zarejestruj się</button>
	</div>

</ng-template>
<ng-template #RegisterTemplate>
	<div class="form-wrapper">
		<h3>Rejestracja</h3>
		<form class="form">

		</form>
		<button (click)="switchView()">Masz konto? Zaloguj się</button>
	</div>
</ng-template>
