<ng-container *ngIf="currentView.login; else checkRegister">
  <ng-container *ngTemplateOutlet="LoginTemplate"></ng-container>
</ng-container>

<ng-template #checkRegister>
  <ng-container *ngIf="currentView.register">
    <ng-container *ngTemplateOutlet="RegisterTemplate">
    </ng-container>
  </ng-container>
</ng-template>

<ng-template #LoginTemplate>

	<div class="wrapper">
		<div class="form-wrapper">
			<h3>Logowanie</h3>
			<form [formGroup]="LoginGroup" class="form">
				<div class="form-item">
					<label for="login">Email:</label>
					<input
					type="email"
					name="login"
					id="login"
          formControlName="login"
					>
				</div>
				<div class="form-item">
					<label for="password">Hasło:</label>
					<input
					[type]="passwordType"
					name="password"
					id="password"
          formControlName="password"
					>
					<img
          [src]="sourceImg"
          alt='zmień typ'
          (click)="handlerPasswordType()"
          >
				</div>
				<div class="form-item consents">
					<label for="remember-me">Zapamiętaj mnie</label>
					<input
					type="checkbox"
					name="remember-me"
					id="remember-me"
          formControlName="rememberMe"
					>
				</div>

        <button (click)="login()">Zaloguj</button>
			</form>
			<button (click)="switchView()" class='switch-view-btn'>Nie masz konta? Zarejestruj się</button>
		</div>
    <div class="response-handler">
      <!-- Ładowanie -->
      <div *ngIf="responseHandler.isLoading" class="loading">
        <p>{{ responseHandler.isLoadingMessage }}</p>
      </div>

      <!-- Sukces -->
      <div *ngIf="responseHandler.responseState" class="success">
        <p>{{ responseHandler.responseMessage }}</p>
      </div>

      <!-- Błąd -->
      <div *ngIf="responseHandler.errorState" class="error">
        <p>{{ responseHandler.errorMessage }}</p>
      </div>
    </div>
	</div>

</ng-template>
<ng-template #RegisterTemplate>

	<div class="wrapper">
    <div class="form-wrapper">
      <h3>Rejestracja</h3>
      <form [formGroup]="RegisterGroup" class="form">
        <div class="form-item">
          <label for="login">Email:</label>
          <input
          type="email"
          name="login"
          id="login"
          formControlName="login"
          >
        </div>
        <div class="form-item">
          <label for="password">Hasło:</label>
          <input
          [type]="passwordType"
          name="password"
          id="password"
          formControlName="password"
          >
          <img
          [src]='sourceImg'
          alt='Zmień'
          (click)="handlerPasswordType()">
        </div>
        <div class="form-item consents">
          <label for="remember-me">Zapamiętaj mnie</label>
          <input
          type="checkbox"
          name="remember-me"
          id="remember-me"
          formControlName="rememberMe"
          >
        </div>
        <div class="form-item consents">
          <label for="accept-rules">Akcpetuję regulmin oraz zgody *wymagane</label>
          <input
          type='checkbox'
          name='accept-rules'
          id='accept-rules'
          formControlName="acceptRules"
          >
        </div>
        <button (click)="register()">Zarejestruj się</button>
      </form>
      <button (click)="switchView()" class='switch-view-btn'>Masz konto? Zaloguj się</button>
	  </div>
    <div class="response-handler">
      <!-- Ładowanie -->
      <div *ngIf="responseHandler.isLoading" class="loading">
        <p>{{ responseHandler.isLoadingMessage }}</p>
      </div>

      <!-- Sukces -->
      <div *ngIf="responseHandler.responseState" class="success">
        <p>{{ responseHandler.responseMessage }}</p>
      </div>

      <!-- Błąd -->
      <div *ngIf="responseHandler.errorState" class="error">
        <p>{{ responseHandler.errorMessage }}</p>
      </div>
    </div>
	</div>

</ng-template>
